/* launcher.rasi - Application Launcher */

/*****----- Configuration -----*****/
configuration {
    modi:                       "drun";
    show-icons:                 true;
    display-drun:               "Apps";
    drun-display-format:        "{name}";
    sort: true;
    sorting-method: "fzf";
}

/*****----- Import Library -----*****/
@import "theme.rasi"

