[data]
    font_size = 12
    font_family = "JetBrainsMono Nerd Font"

    cursor_theme = "Bibata-Modern-Classic"
    cursor_size = 28

    gtk_theme = "adw-gtk3-dark"
    prefer_dark = 1

    terminal = "alacritty"
    shell = "/bin/fish"
    browser = "firefox"
    editor = "nvim"
    files = "nemo"

