# -*- conf -*-

[main]
include=~/.config/foot/colors.ini

shell={{ .shell }}

font={{ .font_family }}:style=SemiBold:size={{ .font_size }}
font-bold={{ .font_family }}:style=Bold:size={{ .font_size }}
font-italic={{ .font_family }}:style=MediumItalic:size={{ .font_size }}
font-bold-italic={{ .font_family }}:style=BoldItalic:size={{ .font_size }}

bold-text-in-bright=yes

selection-target=primary

title=Foot
locked-title=yes
app-id=foot

initial-window-size-chars=40x16
pad=5x5

[scrollback]
lines=10000
multiplier=3.0

[colors-dark]
alpha=0.92
